<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Users</key>
	<dict>
		<key>macmade</key>
		<string>97829dfe7e57683443d029af26316b1f</string>
	</dict>
	<key>AllowAnonymous</key>
	<true/>
</dict>
</plist>
